*, *::before, *::after{
	box-sizing: border-box;
}

html {
  background: #D2691E;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

body {
	margin: 0;
	font-size: 1.25rem;
	position: relative;
	min-height: 100vh;
	flex-direction: column; /*позволяет статье заполнить все свободное место */
	display: flex;
}

body::after {
	content: "";
	display: block;
	height: 68px;
}

.header {
	background-color: #DEB887;
	padding: 1.25rem 0;
	border-bottom: 5px solid black;
	position: sticky;
	top: 0;
	z-index: 2;
}
.main-menu {
	float: left;
}

.profile {
	float: right;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.main-menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.main-menu ul li {
	display: inline;
	margin-left: 10px;
}

.container {
	max-width: 95%;
	margin: 0 auto;
}

.sidebar {
	float: left;
	width: 15rem;
	padding: 1.25rem 0;
	position: sticky;
    top: 55px;
    flex-shrink: 0;
}
.button {
    margin-left: 50px;
    display: inline-block;
    background: #ffffff;
    color: black;
    padding: 1px;
    border-radius: 3px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
}
.batton {
    margin-left: 130px;
    display: inline-block;
    background: #ffffff;
    color: black;
    padding: 1px;
    border-radius: 3px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
}


a {
  text-decoration: none;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

div, h2, p, figure {
  margin: 0;
  padding: 0;
}

.header h1 {
  font-size: 40px;
  font-weight: bold;
}

.header h2 a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 20px;
  opacity: 0.5;
}

.header h2 a:hover {
  border-bottom-color: white;
  opacity: 1;
}

.main {
  margin: 0 auto;
  max-width: 1040px;
  padding: 10px;
}

.column {
  flex: 1;
  flex-direction: column;
}

.article {
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #666;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: auto; /* Устанавливает начальный размер элемента в зависимости от его содержимого */
  margin: 10px;
  border-radius: 10px;
}

.article:hover,
.article:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #444;
}

.article-image {
  background: #eee;
  display: block;
  padding-top: 75%;
  position: relative;
  width: 100%;
  border-radius: 10px;
}

.article-image img {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.article-body {
  display: flex;
  flex: 1; /* Занимает 1/4 ширины контейнера */
  flex-direction: column;
  padding: 20px;
}

.article-title {
  color: #333;
  flex-shrink: 0;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.2;
}

.article-content {
  flex: 1; /* Содержимое заполняет все оставшееся место, тем самым прижимая информационную панель к нижней части */
  margin-top: 5px;
}

.article-info {
  display: flex;
  font-size: 0.85em;
  justify-content: space-between;
  margin-top: 10px;
}

.footer {
	background-color: #DEB887;
	padding: 1.25rem 0;
	border-top: 5px solid black;
	position: absolute;
	bottom: 0;
	width: 100%;	
}

.form_auth_block{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-size: cover;
    border-radius: 4px;
}
.form_auth_block_content{
  padding-top: 15%;
}
.form_auth_block_head_text{
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    background: #ffffff;
    opacity: 0.7;
}
.form_auth_block label{
    display: block;
    text-align: center;
    padding: 10px;
    background: #ffffff;
    opacity: 0.7;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form_auth_block input{
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 45px;
  border-radius: 10px;  
  border:none;
  outline: none;
}
input:focus {
  color: #000000;
  border-radius: 10px;
  border: 2px solid #436fea;
}
.form_auth_button{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    height: 35px;
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 800px) {
  .columns,
  .column {
    display: flex; /* Сделали адаптивный лейаут. Удалил display: flex из селекторов .columns и .column, но записав его в медиа-запрос задействовал его только тогда, когда он будет необъодим */
  }
}

@media screen and (min-width: 1000px) {
  .first-article {
    flex-direction: row;
  }

  .first-article .article-body {
    flex: 1; /* Занимает 1/4 ширины контейнера */
  }

  .first-article .article-image {
    height: 300px;
    order: 2; /* позволяет изменять очередность HTML-элементов без изменения HTML-разметки */
    padding-top: 0;
    width: 400px;
  }

  .main-column {
    flex: 3; /* Занимает 3/4 ширины контейнера */
  }

  .nested-column {
    flex: 2; /* этот столбец будет вдвое шире второго */
  }
}